<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./brand/png/oeste-camisetas-website-favicon-color.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/index.css">
    <title>Vesti con Pasión</title>
</head>

<body>

    <header class="header-grid">
        <img src="./brand/svg/logo-no-background.svg" alt="Logo" class="logo animate__animated animate__bounceInDown">
        <h1 class="animate__animated animate__bounceInUp">OESTE CAMISETAS</h1>
        <nav class="nav">
            <ul>
                <li class="dropdown">
                    <a href="index.html" class="dropbtn">Inicio</a>
                    <a href="camisetas.html" class="dropbtn">Camisetas</a>
                    <a href="nosotros.html" class="dropbtn">Nosotros</a>
                    <a href="contacto.html" class="dropbtn">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="app">
        <h1>Camisetas</h1>
        <div v-if="error">
            <p>Lo sentimos, no se ha podido acceder a la base de datos</p>
        </div>
        <div v-else>
            <section v-if="cargando">
                <div class="spinner-border"></div>
                <p>Cargando .....</p>
            </section>
            <section v-else>
                <div class="camisetas">
                            <div class="prducto" v-for="producto in productos">
                                <p scope="row">Producto número: {{producto.id}}</p>
                                <p>{{producto.nombre}}</p>
                                <p>A tan solo ${{producto.precio}}!</p>
                                <img width="60" :src="producto.imagen" :alt="producto.nombre" class="img-normalizada">
                                <p>Apurate! Nos quedan:{{producto.stock}}</p>
                                <a href="#">Agregar al carrito</a>
                            </div>
                </div>
            </section>
        </div>
    </div>

        <footer>
            <div class="foot">
                <div>
                    <a id="contacto" href="HTML/contacto.html">Contactanos</a>
                    <p>Nos comunicaremos lo más pronto posible</p>
                </div>
                <img src="./brand/svg/logo-no-background.svg" alt="Logo" class="logo">
                <div>
                    <p>Alberto Gómez</p>
                    <p>Martín Miselli</p>
                    <p>Patricia Piñero</p>
                    <p>Walter Arancibia</p>
                </div>
            </div>
            <div class="arriba">
                <p class="copy bk">Redes Sociales </p>
                <div>
                    <a class="copy dropbtn" href="https://www.facebook.com/?locale=es_LA" target="_blank">Facebook</a>
                    <img class="imgDer" src="img/Logos redes/facebook.png" alt="logo" class="logo-normal">
                    <a class="copy dropbtn" href="https://www.instagram.com" target="_blank">Instagram</a>
                    <img class="imgDer" src="img/Logos redes/instagram.png" alt="logo" class="logo-normal">
                    <a class="copy dropbtn" href="https://ar.linkedin.com/" target="_blank">Linkedin</a>
                    <img class="imgDer" src="img/Logos redes/linkedin.png" alt="logo" class="logo-normal">
                    <a class="copy dropbtn" href="https://twitter.com/?lang=es" target="_blank">Twitter</a>
                    <img class="imgDer" src="img/Logos redes/twitter.png" alt="logo" class="logo-normal">
                    <a class="copy dropbtn" href="https://wa.me/?text=urlencodedtext" target="_blank">Whatsapp</a>
                    <img class="imgDer" src="img/Logos redes/whatsapp.png" alt="logo" class="logo-normal">
                </div>
            </div>
            <hr>
            <p class="copy">&copy; 2023 <span code translate="no">Oeste Camisetas</span></p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <script src="JS/productos.js"></script>
</body>

</html>